.button {
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-top: 1em;
}

.header {
  font-size: 1.75rem;
  font-weight: bold;
  padding: 20px;
  background-color: #b6cee8;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.a {
  color: #007bff;
  text-decoration: none;
}

/*.h1 {*/
/*margin: 0;*/
/*font-size: 1.75rem;*/
/*}*/

.app {
  min-height: 18em;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.step-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
}

.hidden {
  display: none !important;
}

.code-box {
  font-size: 1.5rem;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

.spinner-container {
  margin-top: 20px;
  height: 60px;
  /* Consistent height for spinners to prevent layout shifting */
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-left-color: #333;
  animation: spin 1s infinite linear;
}

.spinner.hidden {
  visibility: hidden;
  /* Keep space reserved to prevent layout shifts */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
